$red:       #903;
$black:     #444;
$white:     #fff;
$main-font: Helvetica, Arial, sans-serif;
$url-logo:  "http://placehold.it/80x80";

body{
	font-family: $main-font;
}

h1{
	color: $red;
	font: 32px/1 $main-font;
}

header h1{
	font-size: 40px;
	line-height: 80px;
	background: transparent url( $url-logo ) left top no-repeat;
	padding-left: 84px;
}

@mixin tabs ($background: blue, $color: yellow){
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		background: $background;
		overflow: hidden;
	}
	li{
		float: left;
	}
	a{
		text-decoration: none;
		display: block;
		padding: 8px;
		background: $background;
		color: $color;
		&:hover{
			background: darken($background, 20%);
		}
	}
}

nav{
	@include tabs ($background: $black, $color: $white);
	font-weight: bold;
}

nav a.current{
	background: ligthen($black, 5%);
}

p{
	font: 13px/1.4 $main-font;
}

label{
	display: block;
}

.flash{
	width: 600px;
	padding: 5px;
	font-weight: bold;
	margin: 20px;
	background: lighten($red, 60%);
	color: $red;
	border: 1px solid $red;
}

#like{
	p{
		font-weight: bold;
		color: $red;
	}
	input{
		background: $red;
		border: darken($red, 10%) 1px solid;
		height: 28px;
		padding-left: 24px;
	}
}
